<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Users</title>
    <style>
        /* table,th,td{
            border: 3px solid blue;
        } */
    </style>
    <link rel="stylesheet" href="forshow.css">
</head>
<body>
    <table>
        <tr>
            <th>Id</th>
            <th>Email</th>
            <th>Username</th>
            <th>Password</th>
            <th>To Edit</th>
            <th>To insert</th>
            <th>To delete</th>
        </tr>
        <% for(user of users){ %>
           <tr>
                <td><%= user.id %></td>
                <td><%= user.email %></td>
                <td><%= user.usename %></td>
                <td><%= user.password %></td>
                <td>
                    <form  method="get" action="user/<%=user.id%>/edit" >
                        <button>username</button>
                    </form>
                </td>
                <td>
                    <form method="get" action="/user/new">
                        <button>adduser</button>
                    </form>
                </td>
                <td>
                    <form method="get" action="/user/<%=user.id%>/delete">
                        <button>Delete user</button>
                    </form>
                </td>
           </tr>      
        <% }%>
    </table>
</body>
</html>